@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
  padding: 2px;
  background: rgba(168, 164, 164, 0);
  height: auto;
  width: dvw;
}

@keyframes flowIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes flowOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
} */

.animate-flow {
  animation: flowIn 1s ease-out forwards,
    flowOut 1s ease-in forwards 3s;
}

.animation-delay-500 {
  animation-delay: 0.5s, 3.5s;
}
